.logo {
    width: 250px;
}

.how {
   color: black;
   text-decoration: none;
   font-size: 18px;
}

.apply {
    font-size: 17px;
    background-color: #00c851;
    border: none;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
}

.links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}