.logo {
    width: 250px;
}

.how {
   color: black;
   text-decoration: none;
   font-size: 18px;
}

.apply {
    font-size: 17px;
    background-color: #00c851;
    border: none;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
}

.links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.logout {
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.logout:hover {
   background-color: rgba(255, 0, 0, 0.584);
}